extends ../base

block content
    div.watch__wrapper
        div
            div#videoContainer(data-id=video._id)
                if(isHeroku)
                    video(src=video.fileUrl, crossorigin)
                else
                    video(src='/' + video.fileUrl, crossorigin)
                div#videoControls.videoControls
                    div.videoControls__play
                        span#play.videoControls__playBtn
                            i.fas.fa-play
                        div.videoControls__time
                            span#currenTime 00:00
                            span  / 
                            span#totalTime 00:00
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                    div.videoControls__volume
                        input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                        span#mute
                            i.fas.fa-volume-up
                    div
                        span#fullScreen
                            i.fas.fa-expand
            
            div.video__data
                div
                    p.video__title=video.title
                    span.video-mixin
                        div.video-mixin__data
                            include ../partials/video-meta.pug
                div.video__onwer__option
                    a.likeBtn
                        i.fa-solid.fa-thumbs-up
                    if String(video.owner._id) === String(loggedInUser._id)
                        a(href=`${video.id}/edit`).editBtn
                            i.fa-solid.fa-pen-to-square
                        a(href=`${video.id}/delete`).deleteBtn
                            i.fa-solid.fa-trash-can
        div.video__comment__section
            if loggedIn
                div.video__add-comments
                    form.video__comment-form#commentForm
                        textarea(cols="30", rows="10", placeholder="Write a nice commment...")
                        button
                            i.fa-solid.fa-circle-plus
            div.video__comments
                ul 
                    each comment in video.comments.reverse()
                        li.video__comment(data-id=comment._id)
                            div.video__comment__contents-wrapper
                                i.fas.fa-comment
                                div.video__comment__span-wrapper
                                    span.video__comment__text #{comment.text}
                                    textarea.video__comment__text__edit.hidden #{comment.text}
                                    div.video__comment__meta-wrapper
                                        span.video__comment__date#uploadDate(data-id=comment.createdAt)
                                        if(isHeroku)
                                            span.video__comment__owner(onclick=`location.href='http://jh-wetube.herokuapp.com/users/${comment.owner._id}'`) #{comment.owner.username}
                                        else
                                            span.video__comment__owner(onclick=`location.href='http://localhost:4000/users/${comment.owner._id}'`) #{comment.owner.username}
                            if String(comment.owner._id) === String(loggedInUser._id)
                                div.video__comment__btn-wrapper
                                    button.video__comment__edit-btn
                                        i.fa-solid.fa-pen-to-square
                                    button.video__comment__delete-btn
                                        i.fa-solid.fa-rectangle-xmark
                                    button.video__comment__edit-corfirm-btn.hidden
                                        i.fa-solid.fa-check
                                    button.video__comment__edit-cancel-btn.hidden
                                        i.fa-solid.fa-xmark

block scripts
    script(src="/static/js/watch.js") 
    script(src="/static/js/main.js") 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 
