mixin video(video)
    span.video-mixin
        div.video-mixin__thumb
            if(isHeroku)
                a(href=`/videos/${video.id}`)
                    img(src=video.thumbUrl crossorigin style="width:100%;height:100%;border-radius:5px")
                    
            else
                a(href=`/videos/${video.id}`)
                    img(src='/' + video.thumbUrl crossorigin style="width:100%;height:100%;border-radius:5px")
        div.video-mixin__data
            a(href=`/videos/${video.id}`)
                span.video-mixin__title=video.title
            include ../partials/uploader.pug