div.video-mixin__meta
    span#views 조회수 #{video.meta.views}회 • 
    span(data-id=video.createdAt)#uploadDate
    
if(isHeroku)
    div.video-mixin__owner
        div(onclick=`location.href='http://jh-wetube.herokuapp.com/users/${video.owner._id}'`)
            img(src=video.owner.avatarUrl, crossorigin).video-mixin__owner__avatar
            span.video-mixin__owner__name=video.owner.name

else
    div.video-mixin__owner
        div(onclick=`location.href='http://localhost:4000/users/${video.owner._id}'`)
            img(src='/' + video.owner.avatarUrl).video-mixin__owner__avatar
            span.video-mixin__owner__name=video.owner.name

script(src="/static/js/main.js")